.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #222;
  color: white;
}

.logo {
  font-size: 22px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #00adb5;
}