.projects-section {
  padding: 60px;
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
}

.project-card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #00adb5;
  border: none;
  color: white;
  cursor: pointer;
}